.case-study-gallery {
    margin-top: 51px;
    background-color: #2F2F2F;
    position: relative;
}

.case-study-content {
    position: relative;
    padding-top: 50px;
    color: #fff;
}

.case-study-gallery::before {
    position: absolute;
    content: '';
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #fff;
}

.case-study-text {
    padding-bottom: 30px;
}

.gallery-section {
    padding-right: 105px;
}

.gallery-pict {
    height: 302px;
    position: relative;
}

.gallery-pict img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
}

.gallery-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 22px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.gallery-text::before {
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    bottom: 0;
    height: 1px;
    width: 47px;
}

.gallery-pict::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2f2f2f+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(47,47,47,.9) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(47,47,47,.9) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(47,47,47,.9) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}


.case-study-pattern {
    position: absolute;
    bottom: 30px;
    right: -22px;
    width: 178px;
}

.case-study-pattern img {
    width: 100%;
}

@media (min-width: 768px) {

    .case-study-pattern {
        width: 412px;
    }

    .js-gallery-slider {
        margin-left: -16px;
        margin-right: -16px;
    }

    .gallery-item  {
        padding: 0 16px;
    }

    .gallery-pict {
        height: 335px;
    }

    .gallery-section {
        padding-right: 165px;
    }

    .case-study-text {
        padding: 16px 30px;
    }

    .case-left {
        float: left;
    }

    .case-study-text .case-btn {
        float: right;
        margin-top: 35px;
    }
}

@media (min-width: 1200px) {

    .case-study-gallery {
        margin-top: 0;
        background-color: transparent;
        position: relative;
    }
    
    .case-study-content {
        position: relative;
        padding-top: 0;
        color: #fff;
        background-color: #2F2F2F;
        padding-bottom: 0;
    }

    .gallery-pict {
        height: 403px;
    }

    .gallery-section {
        padding-right: 0;
    }

    .js-gallery-slider {
        margin-top: -26px;
    }

    .case-study-gallery::before {
        display: none;
    }
    
    .case-study-pattern {
        right: 0;
        bottom: 0;
    }

    .case-left {
        float: none;
    }

    .case-study-text .case-btn {
        float: none;
        margin-top: 0;
    }

    .case-study-text {
        height: 412px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 106px;
    }
}