
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.image-text .flex-row {
    align-items: center
}


.image-text__text {
    padding-bottom: 30px;
}


@media (min-width: 768px) {
    .image-text__img {
        display: none;
    }

    
}

@media (min-width: 1200px) {
    .image-text__img {
        display: block;
    }
}

@media only screen and (min-width:240px) and (max-width: 767px){
    
.image-text__img img {
        height: auto;
    }

}