.card-flex {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    margin-top: -85px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card-flex:before,
.card-flex:after {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
}

.cards {
    position: relative;
    margin-top: 22px;
    padding-bottom: 24px;
}

.cards-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.cards-bg::after {
    background-color: rgba(229,229,229,0.9);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cards-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
       opacity: 0.9;
}

.card__bottom {
    padding: 0 25px 25px 25px;
    text-align: center;
}

.card__img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 88px;
}

.card__icon {
    position: absolute;
    top: 37px;
    left: 50%;
    bottom: 0;
    right: 0;
    width: 62px;
    height: 45px;
    margin-left: -31px;
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.gray-box {
    position: absolute;
    top: 0;
    left: 0;
}

.card__icon i {
    position: relative;
    z-index: 9;
    width: 80px;
}

.card__icon > span {
    font-size: 30px;
}

.card__details {
    padding: 25px;
    text-align: center;
}

.card-item {
    border-bottom: 1px solid #E6E6E6;
}

.card-main-text {
    text-align: center;
    padding-top: 35px;
}

.card__details h4 {
    letter-spacing: 0.48px;
    font-size: 18px;
    text-transform: none;
    padding-bottom: 12px;
}

.card-main-text h3 {
    padding-bottom: 0;
}

@media (min-width: 768px) {

    .card-flex {
        margin-top: -115px;
    }

    .card__details {
        padding-left: 0;
        padding-right: 0;
    }

    .card-item {
        border-right: 1px solid #E6E6E6;
        border-bottom: none;
    }

    .card__icon {
        width: 84px;
        height: 50px;
        margin-left: -42px;
        font-size: 40px;
        top: 0;
    }

    .card__img-wrap {
        padding-top: 50px;
    }

    .card-main-text h3 {
        padding-bottom: 0;
    }

    .card-main-text h3 {
        padding-bottom: 25px;
    }
}

@media (min-width: 1200px) {

    .card-main-text {
        text-align: left;
        padding-top: 55px;
        padding-left: 26px;
    }

    .card-item {
        padding-top: 55px;
    }

    .card {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card__description {
        font-size: 16px;
    }

    .card-flex {
        margin-top: -197px;
    }

    .cards {
        margin-top: 32px;
        padding-bottom: 76px;
    }

    .card__icon {
        width: 116px;
        height: 70px;
        margin-left: -58px;
        font-size: 55px;
    }

    .card__img-wrap {
        padding-top: 70px;
    }

    .card__details h4 {
        padding-bottom: 17px;
        font-size: 24px;
    }

}

@media only screen and (min-width:240px) and (max-width: 767px){

    .card__details {
         padding: 5px;
    }
}