.banner, 
.hero-container, 
.hero-text  {
    position: relative;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hero-content {
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 76px;
    padding-bottom: 109px;
    position: relative;
}


.hero-content ul li {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2.142em;
    letter-spacing: 0.14em;
    color: #848484;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
}

.hero-content ul li::before {
    display: none;
}

.hero-design {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% - 18px);
    width: 162px;
}

.hero-design img {
    height: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
}


.fx-slider .fx-slide { display: none; }

.fx-slider .fx-slide:first-child { display: block; }

.fx-slider.slick-initialized .fx-slide { display: block; }


@media (min-width: 768px) {

    .hero-content {
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 80px;
        padding-bottom: 163px;
    }

    .hero-content ul li {
        font-size: 20px;
    }

    .hero-content ul {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 45px;
    }

    .hero-content ul::before {
        left: 0;
        bottom: 0;
        position: absolute;
        content: '';
        background-color: #707070;
        width: 110px;
        height: 1px;
    }
}

@media (min-width: 1200px) {

    .banner {
        padding-top: 142px;
    }

    .hero-content {
        padding-left: 106px;
        padding-right: 0;
        padding-top: 180px;
        padding-bottom: 250px;
    }

    .hero-content ul li {
        font-size: 30px;
    }

    .hero-text {
        width: 1069px;
    }

    .hero-design {
        width: 252px;
    }

    .slick-prev,.slick-next {
        display: none;
    }
}