.service-section {
    margin-top: 50px;
    position: relative;
}

.service-img {
    height: 133px;
    margin-bottom: 12px;
}

.service-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
}

.service-tab li {
    width: 50%;
    height: 85px;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    text-align: center;
}

.service-tab li:last-child {
    border-bottom: 0;
}

.service-tab li:nth-child(2n) {
    border-right: 0;
}

.service-tab li::before {
    display: none;
}

.service-tab-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
}

.service-tab-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
}

.service-tab-img::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(47,47,47,0.5);
}

.service-tab-text {
    position: relative;
    font-size: 15px;
    color: #2F2F2F;
    padding: 0 20px;
    line-height: 1.2em;
}

.service-content,
.services-wrapper {
    position: relative;
}

.service-pattern {
    display: none;
    position: absolute;
    left: -22px;
    top: 0;
    height: 211px;
    width: 53px;
}

.service-pattern img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top right;
       object-position: top right;
}

@media (min-width: 768px) {

    .service-section {
        margin-top: 64px;
    }
    
    .service-img {
        height: 293px;
        margin-bottom: 35px;
    }

    .service-tab li {
        width: 33.33%;
        height: 90px;
        padding: 0 30px;
    }

    .service-tab li:nth-child(2n) {
        border-right: 1px solid #E2E2E2;
    }

    .service-tab li:nth-child(3n) {
        border-right: 0;
    }

    .service-tab li:nth-child(4) {
        border-bottom: 0;
    }

    .service-content {
        padding: 0 40px;
    }

    .service-pattern {
        display: block;
    }
}

@media (min-width: 1200px) {

    .service-section {
        margin-top: 32px;
    }

    .service-img {
        position: absolute;
        width: 37%;
        right: 0;
        top: 0;
        height: 100%;
    }

    .service-content {
        width: 63%;
        padding: 0;
    }

    .services-wrapper {
        float: right;
        padding-top: 82px;
        padding-bottom: 126px;
        max-width: 908px;
        padding-right: 140px;
    }

    .service-tab li {
        height: 111px;
    }

    .service-tab li:hover .service-tab-img {
        opacity: 1;
    }

    .service-tab-text {
        font-size: 18px;
        font-weight: 600;
    }

    .service-tab li:hover .service-tab-text {
        color: #fff;
    }

    .service-pattern {
        height: 400px;
        width: 100px;
        top: 82px;
    }
}

@media (min-width: 1920px) {

    .service-pattern {
        height: 515px;
        width: 181px;
    }
}