/**
 * Add styling for 404 page here
 */

.imgbtns-404,
.links-404 {
	padding-top: 60px;
}

.imgbtn-item {
    background: #2f2f2f;
    display: block;
    height: 300px;
	margin-bottom: 32px;
	overflow: hidden;
    position: relative;
}

.imgbtn-item img {
    height: 100%;
    left: 0;
    opacity: .4;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    top: 0;
	transition: all ease 0.3s;
    width: 100%;
    z-index: 1;
}

.imgbtn-item:hover img {
    transform: scale(1.1);
}

.imgbtn-item span {
    color: #fff;
    display: block;
    font-weight: 600;
    left: 0;
    padding: 22px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.imgbtn-item span:before {
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    bottom: 0;
    height: 1px;
    width: 47px;
}

.search-404 {
    margin-bottom: 30px;
}

.search-404 form {
    position: relative;
}

.search-404 form p {
    padding: 0;
}

.search-404 form label {
    display: none;
}

.search-404 form button {
    background: none;
    border: 0;
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 22px;
}

.contact-404 {
    text-align: center;
}

@media (min-width:768px) {
	.imgbtn-item {
		height: 400px;
	}

	.imgbtns-404,
	.links-404 {
		padding-top: 85px;
	}
}