/*------------------------------------*\
    
    Page Footer CSS

    Page footer...........The main page footer.

\*------------------------------------*/

.page-footer {
    margin-top: 70px
}

.top-footer {
    border-bottom: 1px solid #E2E2E2;
}

.footer-info,
.footer-address {
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 15px 30px 15px;
}

.footer-info p,
.footer-address p {
    padding: 0;
    font-size: 14px;
    color: #2F2F2F;
    padding-top: 20px;
}

.footer-address h4,
.footer-link h4 {
    font-size: 18px;
    text-transform: none;
    padding: 0;
    padding-top: 30px;
}

.footer-address ul,
.footer-link ul {
    margin: 0;
    padding: 20px 0 0 0;
}

.footer-address ul li {
    margin: 0;
    display: inline-block;
    padding: 0 8px 0 0;
    font-size: 18px;
}

.footer-address ul li a {
    color: #2F2F2F;
}

.footer-address ul li::before,
.footer-link ul li::before {
    display: none;
}

.footer-link {
    border-left: 1px solid #E2E2E2;
    padding: 0 15px 20px 15px;
}

.footer-link ul {
    column-count: 2;
}

.footer-link ul li {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}


.footer-link ul li a {
    color: #000000;
}

.bottom-footer ul {
    margin: 0;
    padding: 0 57px 0 0;
}

.bottom-footer {
    padding: 25px 0;
}

.bottom-footer ul li {
    font-size: 12px;
    padding: 0 10px 0 0;
    margin: 0;
    display: inline-block;
    color: #606060;
}

.bottom-footer ul li::before {
    display: none;
}

.bottom-footer ul li a {
    color: #606060;
}

.bottom-footer .container {
    position: relative;
}

.back-top {
    position: absolute;
    background-color: #E6E6E6;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top: 0;
    right: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.back-top a {
    color: #2F2F2F;
}

@media (min-width: 768px) {

    .page-footer {
        margin-top: 76px
    }

    .footer-info,
    .footer-address {
        border-left: 1px solid #E2E2E2;
        border-right: 1px solid #E2E2E2;
        border-bottom: none;
        padding: 0 20px 40px 20px;
    }

    .footer-link {
        padding: 0;
        border-left: none;
    }

    .footer-address h4,
    .footer-link h4 {
        font-size: 18px;
        text-transform: none;
        padding: 0;
        padding-top: 0;
    }

    .bottom-footer ul li {
        padding-top: 15px;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) {

    .page-footer {
        margin-top: 105px
    }

    .footer-info,
    .footer-address,
    .footer-link {
        border-left: 1px solid #E2E2E2;
        border-right: none;
        height: 270px;
        padding-left: 22px;
    }


    .footer-address h4,
    .footer-link h4 {
        font-size: 18px;
        text-transform: none;
        padding: 0;
        padding-top: 0;
    }

    .bottom-footer ul li {
        padding-top: 15px;
        padding-right: 30px;
    }

    .page-footer a:hover {
        color: #A32C1C;
    }

    .footer-link ul li {
        font-size: 14px;
        font-weight: 600;
    }
}