/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythm setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/


/**
 * Document
 */

 * {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    padding-bottom: 50px;
    color: #2A292A;
    font-size: 15px;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {

    body {
        padding-bottom: 0;
    }
}

/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.aligncenter {
    display: table;
 }

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.alignnone,
 .wp-caption.aligncenter {
     margin: 0;
     width: auto !important; /* to overwrite inline widths */
 }
 
 img.alignright,
 .wp-caption.alignright,
 img.alignleft,
 .wp-caption.alignleft {
     height: auto;
     max-width: 50%;
 }
 
 img.alignnone,
 .wp-caption.alignnone img,
 img.aligncenter,
 .wp-caption.aligncenter img {
     height: auto;
     max-width: 100%;
 }
 
 img.alignnone,
 .wp-caption.alignnone,
 img.aligncenter,
 .wp-caption.aligncenter { margin: 0 0 22px 0; }
 
 img.alignright,
 .wp-caption.alignright {
     float: right;
     margin: 0 0 22px 30px;
 }
 
 img.alignleft,
 .wp-caption.alignleft {
     float: left;
     margin: 0 30px 22px 0;
 }
 
 img.aligncenter,
 .wp-caption.aligncenter img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
 }

 .wp-caption-text {
    caption-side: bottom;
    display: table-caption;
 }
 
 iframe,
 img {
     max-width: 100%;
     height: auto;
 }
 
 /* Fade-in for lazyloaded images */
 .will-lazyload {
     opacity: 0;
     transition: opacity .25 linear;
 }
 
 .will-lazyload.lazyloaded {
     opacity: 1;
 }



/**
  * Typography
  */

/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

h1, .h1 {
    font-size: 32px;
    line-height: 1.28125em;
}

h2, .h2 {
    font-size: 30px;
    line-height: 1.23em;
}

h3, .h3,
h4, .h4  {
    font-size: 24px;
    line-height: 1.25em;
}

h5, .h5 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2.142em;
    letter-spacing: 0.14em;
    color: #848484;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

@media (min-width: 768px) {

    h2, .h2,
    h3, .h3,
    h4, .h4 {
        padding-bottom: 25px;
    }

    h1, .h1 {
        font-size: 44px;
    }
    
    h2, .h2 {
        font-size: 36px;
    }
    
    h3, .h3 {
        font-size: 28px;
    }
    
    h4, .h4 {
        font-size: 20px;
        text-transform: none;
    }

    h5, .h5 {
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    h1, .h1 {
        font-size: 74px;
    }
    
    h2, .h2 {
        font-size: 50px;
    }
    
    h3, .h3 {
        font-size: 34px;
    }
    
    h4, .h4 {
        font-size: 24px;
    }

    h5, .h5 {
        font-size: 17px;
    }
}

p, ul, ol {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.555em;
    list-style: none;
    padding-bottom: 18px;
}

.page-content ul,
.page-content ol {
   width: auto; 
   overflow: hidden;
}

ul li {
	position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
}

ul li::before {
	position: absolute;
    content: '';
    border: 2px solid #800F00;
    width: 4px;
    height: 4px;
    top: 10px;
    left: 0;
}

a {
	color: #A32C1C;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

	a:hover {
        color: #848484;
        transition: all .3s ease-in-out;
    }

blockquote {
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
    color: #2F2F2F;
    letter-spacing: 0.02em;
    margin: 20px 0 45px 0;
}

blockquote::before {
    background-color: #F2F2F2;
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    z-index: 1;
}

blockquote p {
    z-index: 2;
    position: relative;
}

@media (min-width: 768px) {

    p, ul, ol {
        padding-bottom: 25px;
    }
    
    blockquote p {
        font-size: 20px;
    }
}

@media (min-width: 1025px) {

    p, ul, ol {
        font-size: 18px;
        padding-bottom: 30px;
    }

    blockquote p {
        font-size: 24px;
    }
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/**
  * Wrappers
  */

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
}

.container {
	max-width: 1352px;
}




/**
 * Utility Margin/Padding Classes
 * 
 */

/* Used on outer-most section container so section margins collapse */
.section-margins {
    margin-top: var(--section-margins);
    margin-bottom: var(--section-margins);
}

/* Used only for sections with colored backgrounds */
.section-padding {
    padding-top: var(--section-margins);
    padding-bottom: var(--section-margins);
}




/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */

  .row {
    margin-left: -16px;
    margin-right: -16px;
}

    [class*="col-"] {
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] { float:left; }

.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9  { width: 75%; }
.col-xxs-8  { width: 66.66666667%; }
.col-xxs-7  { width: 58.33333333%; }
.col-xxs-6  { width: 50%; }
.col-xxs-5  { width: 41.66666667%; }
.col-xxs-4  { width: 33.33333333%; }
.col-xxs-3  { width: 25%; }
.col-xxs-2  { width: 16.66666667%; }
.col-xxs-1  { width: 8.33333333%; }

.col-xxs-pull-12 { right: 100%; }
.col-xxs-pull-11 { right: 91.66666667%; }
.col-xxs-pull-10 { right: 83.33333333%; }
.col-xxs-pull-9  { right: 75%; }
.col-xxs-pull-8  { right: 66.66666667%; }
.col-xxs-pull-7  { right: 58.33333333%; }
.col-xxs-pull-6  { right: 50%; }
.col-xxs-pull-5  { right: 41.66666667%; }
.col-xxs-pull-4  { right: 33.33333333%; }
.col-xxs-pull-3  { right: 25%; }
.col-xxs-pull-2  { right: 16.66666667%; }
.col-xxs-pull-1  { right: 8.33333333%; }
.col-xxs-pull-0  { right: auto; }

.col-xxs-push-12 { left: 100%; }
.col-xxs-push-11 { left: 91.66666667%; }
.col-xxs-push-10 { left: 83.33333333%; }
.col-xxs-push-9  { left: 75%; }
.col-xxs-push-8  { left: 66.66666667%; }
.col-xxs-push-7  { left: 58.33333333%; }
.col-xxs-push-6  { left: 50%; }
.col-xxs-push-5  { left: 41.66666667%; }
.col-xxs-push-4  { left: 33.33333333%; }
.col-xxs-push-3  { left: 25%; }
.col-xxs-push-2  { left: 16.66666667%; }
.col-xxs-push-1  { left: 8.33333333%; }
.col-xxs-push-0  { left: auto; }

.col-xxs-offset-12 { margin-left: 100%; }
.col-xxs-offset-11 { margin-left: 91.66666667%; }
.col-xxs-offset-10 { margin-left: 83.33333333%; }
.col-xxs-offset-9  { margin-left: 75%; }
.col-xxs-offset-8  { margin-left: 66.66666667%; }
.col-xxs-offset-7  { margin-left: 58.33333333%; }
.col-xxs-offset-6  { margin-left: 50%; }
.col-xxs-offset-5  { margin-left: 41.66666667%; }
.col-xxs-offset-4  { margin-left: 33.33333333%; }
.col-xxs-offset-3  { margin-left: 25%; }
.col-xxs-offset-2  { margin-left: 16.66666667%; }
.col-xxs-offset-1  { margin-left: 8.33333333%; }
.col-xxs-offset-0  { margin-left: 0; }

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {float:left;}

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666667%; }
    .col-xs-10 { width: 83.33333333%; }
    .col-xs-9  { width: 75%; }
    .col-xs-8  { width: 66.66666667%; }
    .col-xs-7  { width: 58.33333333%; }
    .col-xs-6  { width: 50%; }
    .col-xs-5  { width: 41.66666667%; }
    .col-xs-4  { width: 33.33333333%; }
    .col-xs-3  { width: 25%; }
    .col-xs-2  { width: 16.66666667%; }
    .col-xs-1  { width: 8.33333333%; }

    .col-xs-pull-12 { right: 100%; }
    .col-xs-pull-11 { right: 91.66666667%; }
    .col-xs-pull-10 { right: 83.33333333%; }
    .col-xs-pull-9  { right: 75%; }
    .col-xs-pull-8  { right: 66.66666667%; }
    .col-xs-pull-7  { right: 58.33333333%; }
    .col-xs-pull-6  { right: 50%; }
    .col-xs-pull-5  { right: 41.66666667%; }
    .col-xs-pull-4  { right: 33.33333333%; }
    .col-xs-pull-3  { right: 25%; }
    .col-xs-pull-2  { right: 16.66666667%; }
    .col-xs-pull-1  { right: 8.33333333%; }
    .col-xs-pull-0  { right: auto; }

    .col-xs-push-12 { left: 100%; }
    .col-xs-push-11 { left: 91.66666667%; }
    .col-xs-push-10 { left: 83.33333333%; }
    .col-xs-push-9  { left: 75%; }
    .col-xs-push-8  { left: 66.66666667%; }
    .col-xs-push-7  { left: 58.33333333%; }
    .col-xs-push-6  { left: 50%; }
    .col-xs-push-5  { left: 41.66666667%; }
    .col-xs-push-4  { left: 33.33333333%; }
    .col-xs-push-3  { left: 25%; }
    .col-xs-push-2  { left: 16.66666667%; }
    .col-xs-push-1  { left: 8.33333333%; }
    .col-xs-push-0  { left: auto; }

    .col-xs-offset-12 { margin-left: 100%; }
    .col-xs-offset-11 { margin-left: 91.66666667%; }
    .col-xs-offset-10 { margin-left: 83.33333333%; }
    .col-xs-offset-9  { margin-left: 75%; }
    .col-xs-offset-8  { margin-left: 66.66666667%; }
    .col-xs-offset-7  { margin-left: 58.33333333%; }
    .col-xs-offset-6  { margin-left: 50%; }
    .col-xs-offset-5  { margin-left: 41.66666667%; }
    .col-xs-offset-4  { margin-left: 33.33333333%; }
    .col-xs-offset-3  { margin-left: 25%; }
    .col-xs-offset-2  { margin-left: 16.66666667%; }
    .col-xs-offset-1  { margin-left: 8.33333333%; }
    .col-xs-offset-0  { margin-left: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {float:left;}

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9  { width: 75%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-6  { width: 50%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-3  { width: 25%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-1  { width: 8.33333333%; }

    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9  { right: 75%; }
    .col-sm-pull-8  { right: 66.66666667%; }
    .col-sm-pull-7  { right: 58.33333333%; }
    .col-sm-pull-6  { right: 50%; }
    .col-sm-pull-5  { right: 41.66666667%; }
    .col-sm-pull-4  { right: 33.33333333%; }
    .col-sm-pull-3  { right: 25%; }
    .col-sm-pull-2  { right: 16.66666667%; }
    .col-sm-pull-1  { right: 8.33333333%; }
    .col-sm-pull-0  { right: auto; }

    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9  { left: 75%; }
    .col-sm-push-8  { left: 66.66666667%; }
    .col-sm-push-7  { left: 58.33333333%; }
    .col-sm-push-6  { left: 50%; }
    .col-sm-push-5  { left: 41.66666667%; }
    .col-sm-push-4  { left: 33.33333333%; }
    .col-sm-push-3  { left: 25%; }
    .col-sm-push-2  { left: 16.66666667%; }
    .col-sm-push-1  { left: 8.33333333%; }
    .col-sm-push-0  { left: auto; }

    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-0  { margin-left: 0; }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {float:left;}

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }

    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9  { right: 75%; }
    .col-md-pull-8  { right: 66.66666667%; }
    .col-md-pull-7  { right: 58.33333333%; }
    .col-md-pull-6  { right: 50%; }
    .col-md-pull-5  { right: 41.66666667%; }
    .col-md-pull-4  { right: 33.33333333%; }
    .col-md-pull-3  { right: 25%; }
    .col-md-pull-2  { right: 16.66666667%; }
    .col-md-pull-1  { right: 8.33333333%; }
    .col-md-pull-0  { right: auto; }

    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9  { left: 75%; }
    .col-md-push-8  { left: 66.66666667%; }
    .col-md-push-7  { left: 58.33333333%; }
    .col-md-push-6  { left: 50%; }
    .col-md-push-5  { left: 41.66666667%; }
    .col-md-push-4  { left: 33.33333333%; }
    .col-md-push-3  { left: 25%; }
    .col-md-push-2  { left: 16.66666667%; }
    .col-md-push-1  { left: 8.33333333%; }
    .col-md-push-0  { left: auto; }

    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {float:left;}

    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }

    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9  { right: 75%; }
    .col-lg-pull-8  { right: 66.66666667%; }
    .col-lg-pull-7  { right: 58.33333333%; }
    .col-lg-pull-6  { right: 50%; }
    .col-lg-pull-5  { right: 41.66666667%; }
    .col-lg-pull-4  { right: 33.33333333%; }
    .col-lg-pull-3  { right: 25%; }
    .col-lg-pull-2  { right: 16.66666667%; }
    .col-lg-pull-1  { right: 8.33333333%; }
    .col-lg-pull-0  { right: auto; }

    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9  { left: 75%; }
    .col-lg-push-8  { left: 66.66666667%; }
    .col-lg-push-7  { left: 58.33333333%; }
    .col-lg-push-6  { left: 50%; }
    .col-lg-push-5  { left: 41.66666667%; }
    .col-lg-push-4  { left: 33.33333333%; }
    .col-lg-push-3  { left: 25%; }
    .col-lg-push-2  { left: 16.66666667%; }
    .col-lg-push-1  { left: 8.33333333%; }
    .col-lg-push-0  { left: auto; }

    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }
}



/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after { clear: both; }



/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.
 
     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */

 .btn {
    border: 0;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline-block;
    line-height: 1.2em;
    padding: 18px 22px;
    background-color: #A32C1C;
    color: #fff;
    border-radius: 50px;
}

.btn-primary {
    background-color: #A32C1C;
    color: #fff;
}

.btn-secondary {
    background-color: #E6E6E6;
    color: #2F2F2F
}

.btn-tertiary {
    background-color: transparent;
    color: #A32C1C;
    font-size: 14px;
    text-transform: none;
    padding: 5px 0;
    border-bottom: 2px solid #A32C1C;
    border-radius: 0;
    letter-spacing: 0.02em;
}


.btn-block {
    display: block;
    width: 100%;
}

.btn + .btn {
	margin-left: 28px;
}


@media (min-width: 1025px) {

    .btn {
        font-size: 16px;
        padding: 20px 34px;
    }

    .btn:hover,
    .btn-primary:hover {
        color: #fff;
        background-color: #B94A3B;
    }

    .btn-secondary:hover {
        color: #2F2F2F;
        background-color: #F7F7F7;
    }

    .btn-tertiary:hover {
        color: #848484;
        background-color: transparent;
        border-color: #848484;
    }

    .btn-tertiary {
        font-size: 16px;
        padding: 5px 0;
    }

}



/**
 * Icons
 */

/* add icon code here */
@font-face {
    font-family: 'icomoon';
    src:  url('/wp-content/themes/championscaffold/assets/fonts/icomoon.eot?qktnkl');
    src:  url('/wp-content/themes/championscaffold/assets/fonts/icomoon.eot?qktnkl#iefix') format('embedded-opentype'),
        url('/wp-content/themes/championscaffold/assets/fonts/icomoon.ttf?qktnkl') format('truetype'),
        url('/wp-content/themes/championscaffold/assets/fonts/icomoon.woff?qktnkl') format('woff'),
        url('/wp-content/themes/championscaffold/assets/fonts/icomoon.svg?qktnkl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\e900";
}
.icon-call-24hr:before {
    content: "\e901";
}
.icon-cart:before {
    content: "\e902";
}
.icon-check:before {
    content: "\e903";
}
.icon-chervron-down:before {
    content: "\e904";
}
.icon-chervron-left:before {
    content: "\e905";
}
.icon-chervron-right:before {
    content: "\e906";
}
.icon-chervron-up:before {
    content: "\e907";
}
.icon-close:before {
    content: "\e908";
}
.icon-commercial:before {
    content: "\e909";
}
.icon-download:before {
    content: "\e90a";
}
.icon-facebook:before {
    content: "\e90b";
}
.icon-industrial:before {
    content: "\e90c";
}
.icon-instagram:before {
    content: "\e90d";
}
.icon-linkedin:before {
    content: "\e90e";
}
.icon-minus:before {
    content: "\e90f";
}
.icon-phone:before {
    content: "\e910";
}
.icon-plus:before {
    content: "\e911";
}
.icon-residential:before {
    content: "\e912";
}
.icon-search:before {
    content: "\e913";
}

.icon-checkmark:before {
  content: "\e912";
}


/**
 * Forms
 */

 .form-col {
    padding-bottom: 20px;
    padding-top: 16px;
}

.form-col p {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

label {
   display: block;
   font-size: 17px;
   color: #2F2F2F;
   line-height: 1.4em;
   margin: 0;
   padding: 0 0 8px 0;
   font-weight: 700;
   font-family: 'Roboto Condensed', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.05em;
}

label span {
   color: #A32C1C;
}

textarea {
   border: 1px solid #C6C6C6;
   background-color: #fff;
   width: 100%;
   height: 150px;
   padding: 10px 20px;
   font-size: 18px;
   color: #2F2F2F;
   resize: none;
}

/* Removes default webkit form styling */
input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
   -webkit-appearance: none;
}

input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
   outline: none; /* Removes blue border on focus */
   border-color: #2F2F2F;
}

/* default text input style */
select,
[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {
   border: 1px solid #C6C6C6;
   background-color: #fff;
   width: 100%;
   height: 52px;
   padding: 0 20px;
   font-size: 18px;
   color: #3E3E3E;
   font-weight: 500;
}

   /* Removes inconsistent padding from Firefox buttons */
   button::-moz-focus-inner,
   [type="reset"]::-moz-focus-inner,
   [type="button"]::-moz-focus-inner,
   [type="submit"]::-moz-focus-inner {
       border: none;
       padding:0;
   }

input::placeholder {
    color: #C6C6C6;
    opacity: 1;
}

/* Hide reCaptcha badge */
.grecaptcha-badge {
    visibility: hidden;
}

.input-file {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.input-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.input-file span {
    margin-right: 10px;
    display: inline-block;
}

.radio-content {
    padding-top: 10px;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
    line-height: 1.5em;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

/* Hide the browser's default checkbox */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #C6C6C6
  }
  
  /* When the checkbox is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #fff;
    border: 7px solid #2F2F2F
  }


.wpcf7-form-control-wrap input.wpcf7-not-valid {
    border: 1px solid #800f00;
}

.wpcf7-form-control-wrap .wpcf7-not-valid-tip {
    color: #800f00 !important;
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px;
}



/**
 * Pagination
 */

 .wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {

    .wp-pagenavi { margin-top: 70px; }

}



/**
 * Sticky Sidebar
 */

@media( min-width: 1025px ) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 125px;
    }
}