/*------------------------------------*\
    
    Header CSS
 
    eg: Header, Navigation, Ubermenu, Masthead 
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

/**
 * Page-head
 */


 .page-header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 15px rgba( 0, 0, 0, .10);
}

.top-header {
    background-color: #E6E6E6;
    text-align: center;
    padding: 6px 0;
}

.middle-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    float: left;
    width: 208px;
    height: 40px;
    padding: 9px 0;
}

.logo img {
    width: 100%;
    display: block;
}


.nav-fixed {
    background-color: #2F2F2F;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    z-index: 999999;
    width: 100%;
    padding: 0 0;
}

.fixed-quote-btn {
    float: left;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
}

.fixed-quote-btn .btn {
    padding: 18px 45px;
    border-radius: 0;
    font-size: 14px;
}

.toggle-menu {
    float: right;
    text-align: center;
    padding: 0 15px;
    border-left: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.4px;
}

.toggle-menu i {
    display: block;
    font-size: 26px;
    padding-bottom: 0;
    line-height: 1em;
}

.toggle-menu i.icon-menu {
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    height: 22px;
    margin-bottom: 5px;
    position: relative;
    width: 29px;
}

.toggle-menu i.icon-menu:before {
    background: #fff;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@media (min-width:768px) {
    .toggle-menu i.icon-menu {
        border-bottom: 4px solid #000;
        border-top: 4px solid #000;
    }
    .toggle-menu i.icon-menu:before {
        background: #000;
    }
}


.call-menu {
    float: right;
    text-align: center;
    padding: 0 14px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.4px;
}

.call-menu i {
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
    line-height: 1em;
}


.call-menu a {
    color: #fff;
}

.js-search-active {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 44px;
    background-color: #fff;
    padding: 10px 22px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .10);
}


.js-search-toggle {
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
    color: #2F2F2F;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1.4px;
    text-align: center;
}

.js-search-toggle i {
    display: block;
    font-size: 20px;
    padding-bottom: 7px;
    line-height: 1em;
}

.js-search-active input {
    border: none;
    width: 130px;
    font-size: 16px;
    color: #848484;
    font-weight: 600;
    height: 25px;
}

.js-search-active button {
    background: none;
    border: none;
    font-size: 22px;
    color: #2F2F2F;
}

.js-search-active button i {
    vertical-align: middle;
}

.top-bttn-bar, 
.top-phone-bar {
    font-size: 14px;
}

.top-call-bar i {
    vertical-align: middle;
    padding-bottom: 2px;
    padding-right: 5px;
}

.top-call-bar span {
    display: none;
}

.admin-bar .page-header {
    margin-top: 30px;
}

.page-header {

    max-height: 100%;
}

@media (min-width: 768px) {

    .top-header {
        padding: 0 0;
    }
    
    .top-bttn-bar,
    .top-phone-bar {
        float: right;
    }
    
    .top-call-bar span {
        display: inline-block;
    }

    .top-bttn-bar .btn {
        border-radius: 0;
    }

    .top-call-bar {
        float: left;
        height: 47px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 22px;
    }

    .top-call-bar a {
        display: block;
    }

    .top-phone-bar {
        height: 47px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid #D1D1D1;
        padding-left: 24px;
        padding-right: 40px;
    }

    .top-phone-bar a {
        color: #2F2F2F;
    }

    .top-phone-bar i {
        vertical-align: middle;
        padding-right: 5px;
    }

    .middle-header {
        padding: 27px 22px;
    }
    
    .toggle-menu {
        color: #2F2F2F;
        height: auto;
        padding-left: 30px;
        padding-right: 0;
    }
    .logo {
        width: 208px;
        height: 35px;
        padding: 5px 0;
    }

    .top-bttn-bar .btn {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media (min-width: 1025px) {

    .top-header-content {
        float: right;
    }

    .top-call-bar {
        padding-right: 40px;
    }

    .top-bttn-bar .btn {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media (min-width: 1200px) {
    .page-header {
        position: fixed;
    }

    .middle-header {
        padding: 30px 0;
    }

    .js-search-toggle {
        display: none;
    }

    .js-search-active {
        display: block !important;
        float: right;
        padding: 0;
        padding-left: 30px;
        padding-top: 5px;
        position: relative;
        box-shadow: none;
    }

    /*.logo {
        margin-left: 22px;
    }*/

 
    .top-search {
        float: right;
    }

    .js-search-active {
        right: 1px;
    }
    
}

@media (min-width: 1366px) {

    .js-search-active {
        padding-left: 157px;
    }
    
    .logo {
    	width: 258px;
    }

}




/**
 * Navigation
 */


/* General Styling */


/* General Styling */

.nav-primary {
    padding: 0 0;
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    z-index: 99999;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.nav-primary ul {
    margin: 0 0 0 0;
    padding: 0 0 80px;
    list-style: none;
}

.nav-primary ul li {
    padding: 0;
    margin: 0;
    position: relative;
    background: none;
    border-bottom: 1px solid #E7E7E7;
}

.nav-primary ul li::before {
    display: none;
}

.nav-primary ul li a {
    color:#2E2D2B;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.nav-primary ul li a:hover {
    color:  #A32C1C;
}

.nav-primary .sub-menu-toggle {
    position: absolute;
    top: 17px;
    right: 15px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    display: block;
    line-height: 1.125em;
    text-align: center;
    color: #848484;
    font-size: 12px;
    border-radius: 50%;
}

.nav-primary ul.sub-menu.js-toggled {
    display: block;
}

.sub-menu-toggle.js-clicked {
    font-size: 12px;
}

.sub-menu-toggle.js-clicked::before {
    content: "\e907";
}

button:focus {
    outline: none;
}

.nav-primary ul li a {
    border: none !important;
}

.nav-primary ul li a:after {
    display: none !important;
}

.nav-primary ul.sub-menu {
    display: none;
    padding: 5px 16px;
    background: #fff;
}

.nav-primary ul.sub-menu li {
    margin: 0;
    padding: 0 0;
    background: none;
    border-bottom: none;
}

.nav-primary ul.sub-menu li a {
    padding: 14px 20px;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
}

.nav-primary ul.sub-menu li a:hover {
    color: #A32C1C;
    background: #F2F2F2;
}


.nav-primary ul li.current_page_item>a, nav.nav-primary ul.sub-menu li.current_page_item>a, .nav-primary ul li a:active {
    background:#E6E6E6;
}


.nav-primary ul li.current_page_item>a, nav.nav-primary ul.sub-menu li.current_page_item>a, .nav-primary ul li a:hover {
    color: #A32C1C;
}

@media (min-width: 768px) {
    .nav-primary {
        top: 100%;
        height: auto;
        position: absolute;
        
    }

    .nav-primary ul {
        padding: 15px 0;
    }
}

@media (min-width: 1200px) {
     .nav-primary {
        display: block !important;
        position: relative;
        height: auto;
        overflow-y: inherit;
        background: transparent;
        float: right;
        width: auto;
        top: 0;
        border: none;
    }

    .nav-primary ul {
        padding: 0 0 0 0;
    }

    .nav-primary ul li {
        float: left;
        padding: 0px;
        border-bottom: none;
        margin: 0 0;
    }

    .nav-primary ul li a {
        border:none;
        padding:10px 15px;
    }
    
    .nav-primary ul li.current_page_item > a,
    nav.nav-primary ul.sub-menu li.current_page_item > a,
    .nav-primary ul li a:hover {
        background-color: #F2F2F2;
    }

    .nav-primary ul li:hover .sub-menu-toggle {
        color: #000;
    }

    .nav-primary .sub-menu-toggle {
        height: auto;
        top: 18px;
        right: 1px;
        width: auto;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        line-height: 1em;
        border: none;
        color: #848484;
    }

    .nav-primary > ul > li.menu-item-has-children > ul.sub-menu {
        top: 100%;
    }

    .nav-primary ul.sub-menu {
        position: absolute;
        width: 270px;
        background: #FFFFFF;
        top: 100%;
        left: 0;
        padding: 0;
        border: none;
    }

    .nav-primary ul.sub-menu li {
        float: none;
        padding: 0 0;
        margin: 0 0;
    }

    .nav-primary ul li ul.sub-menu .sub-menu {
        width: 270px;
        left: -270px;
        padding: 15px 15px;
        top: 0px;
        border: none;
        box-shadow: 0 0 15px rgba( 0, 0, 0, .10);
        background: #FFFFFF;
    }

    .nav-primary ul li ul.sub-menu .sub-menu:before {
        display: none;
    }

    .nav-primary ul.sub-menu li {
        font-size: 16px;
        border: none;
    }

    .nav-primary li:hover ul.sub-menu a {
        background: transparent;
        text-decoration: none;
        border: none;
        font-size: 14px;
        color: #4A4A4A;
        font-weight: 600;
        border-radius: 0;
    }

    .nav-primary ul li ul.sub-menu li a {
        padding: 14px 18px;
        border-bottom: none;
        height: auto;
        font-weight: 600;
        text-transform: none;
        border-radius: 0;
        color: #4A4A4A;
        font-size: 14px;
        line-height: 1.2em;
    }

    .nav-primary ul.sub-menu ul.sub-menu li a {
        padding: 14px 18px;
    }

    .nav-primary ul li ul.sub-menu li a:hover,
    .nav-primary ul.sub-menu ul.sub-menu li a:hover {
        background: #F2F2F2;
        color: #A32C1C;
        border-bottom: none;
    }

    .nav-primary ul li:hover ul.sub-menu {
        display: block;
    }

    .nav-primary ul li:hover ul.sub-menu .sub-menu {
        display: none;
    }

    .nav-primary ul li ul.sub-menu li:hover .sub-menu {
        display: block;
    }

    .nav-primary ul.sub-menu li:hover > a,
    .nav-primary ul.sub-menu li.current-menu-item > a,
    .nav-primary ul.sub-menu li.current-menu-ancestor > a {
        background: transparent;
        color: #000000;
        border-bottom: none;
    }

    .nav-primary ul.sub-menu .sub-menu-toggle {
        height: auto;
        line-height: 1em;
        top: 16px;
        right: 23px;
        width: auto;
        font-size: 12px;
        transform: rotate(-90deg);
    }
    .nav-primary ul li:hover ul.sub-menu .sub-menu-toggle::before {
        content: "\e905";
    }

    .nav-primary ul.sub-menu li:hover .sub-menu-toggle {
        color: #000000;
    }
}


@media (min-width: 1660px) {

    .nav-primary ul li a {
        padding-left: 35px;
        padding-right: 35px;
    }

    .nav-primary .sub-menu-toggle {
        right: 20px;
    }
}


/**
 * Ubermenu Styling (Starter CSS - Generally no editing needed)
 */
@media only screen and (max-width: 1024px) {
  /* forces mobile menu to push other menu items down when open instead of the sub-menu overlapping other menu items */
  .ubermenu .ubermenu-item .ubermenu-submenu-drop {
      position: relative !important;
  }

  .ubermenu-responsive.ubermenu {
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 900;
      background: #f0f0f0;
  }

  .ubermenu .ubermenu-item {
      position: relative !important;
  }

  /* styles the sub-menu indicator on mobile and tablet */
  .ubermenu-sub-indicator {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      z-index: 900;
  }

  .ubermenu-responsive-toggle {
      float: right;
  }
}

.ubermenu-responsive-toggle i { /* controls styling of mobile menu toggle */
    display: block; 
    font-size: 30px;
    margin: 0 !important;
}

.ubermenu-sub-indicator-close {
    display: none !important;
}


@media only screen and (min-width: 1024px) {
  .ubermenu > ul > li > a {
      padding-top: 40px !important; /* controls top level menu items on desktop size */
      padding-bottom: 40px !important;
      display: block;
  }
}

.sticky-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    border-top: 1px solid #ccc;
}

.ubermenu-responsive.ubermenu {
    bottom: 80px;
    left: 0;
    max-height: 500px !important;
    overflow-x: scroll !important;
    z-index: 2000;
}

.desktop-menu .ubermenu-responsive-toggle {
    display: none;
    z-index: 2000;
    position: relative;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 174px; /* controls position of responsive menu on tablet size */
      bottom: auto;
      max-height: auto !important;
      overflow-x: inherit !important;
  }

  .sticky-bar {
      display: none;
  }

  .desktop-menu {
      display: inline-block;
  }

  .desktop-menu .ubermenu-responsive-toggle {
      display: block;
  }
}

@media only screen and (min-width: 1025px) {
    .desktop-menu .ubermenu-responsive-toggle {
        display: none;
    }

    .ubermenu-responsive.ubermenu {
        top: auto; 
    }
}

/* controls sticky bar menu icon and overlay on mobile */
.sticky-bar .menu-is-active .fa-bars:before {
    content: 'X'; 
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .25 );
    z-index: -1000;
}

body.menu-is-active:after {
    z-index: 1000;
    display: block;
}

@media( max-width: 1024px ) {
    .sticky-bar {
        z-index: 2000 !important;
    }
}

/* Modern IPhone Fixes */
@media screen and (width: 375px) and (height: 813px) {
    
    .sticky-bar {
       
        padding-bottom: 34px; 
        padding-left: 16px;
        padding-right: 16px;
    }
}




/**
 * Ubermenu Styling - Custom Styles
 */




/**
 * Masthead
 */

.masthead {
    position: relative;
    overflow: hidden;
}

.masthead .container-fluid {
    padding: 0;
    position: relative;
}

.masthead-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;    
    width: 100%;     
}

.masthead-pattern {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;    
    width: 252px;    
}

.masthead-img img,
.masthead-pattern img {
    display: block;
    height: 100%;    
    width: 100%;      
    -o-object-fit: cover;      
       object-fit: cover;    
}

.masthead-text {
    padding: 68px 0 30px 0;
    color: #fff;
    position: relative;
    background-color: rgba( 0, 0, 0, .80);
}

.masthead-text .container {
    position: relative;
}

@media (min-width: 1200px) {
    .masthead {
        padding-top: 142px;
    }

    .masthead-text {
        padding: 85px 0 37px 0;
    }
    .masthead-pattern { 
        width: 290px;    
    }
}
/**
 * Breadcrumbs
 */
 .breadcrumbs {
    margin: 0;
    padding: 0 0 10px 0; 
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs span {
    margin: 0;
    padding: 0;
}

.breadcrumbs span li {
    margin: 0;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    line-height: 1.1em;
    display: inline-block;
}

.breadcrumbs span li:first-child a::before {
    display: none;
}

.breadcrumbs span li a::before,
.breadcrumbs .breadcrumb_last::before {
    content: "\e906";
    left: -7px;
    top: 0;
    padding: 0 30px;
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 0;
    font-size: 10px;
    color: #ADADAD;
    font-family: 'icomoon';
}

.breadcrumbs ul li::before {
    display: none;
}

.breadcrumbs ul li {
    margin: 0;
    padding: 0 30px;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    line-height: 1.1em;
    float: left;
    position: relative;
    letter-spacing: 0.03em;
}

.breadcrumbs span li a {
   font-weight: 600;
   background: none;
   color: #ADADAD;
   border: none;
   font-family: 'Work Sans', sans-serif;
}

.breadcrumbs span li a:hover {
   color: #A32C1C;
}


.breadcrumbs ul li a {
    color: #ADADAD;
    border-bottom: none;
}

.breadcrumbs ul li:after {
    content: "\e904";
    font-family: 'icomoon';
    position: absolute;
    right: -6px;
    top: 0;
    color: #ADADAD;
    font-size: 10px;
}

.breadcrumbs ul li:first-child {
    padding-left: 0;
}

.breadcrumbs ul li:last-child::after {
    display: none;
}




