/*------------------------------------*\
    
    Posts CSS
 
    Posts.................Post content for loop on blog homepage, category, search page, archives, etc.
    Sidebar...............Sidebar elements.

\*------------------------------------*/

.blog-search {
    padding-bottom: 100px;
    padding-top: 40px;
}

.post-listing-container .container,
.blog-search .container {
    max-width: 872px;
}
.blog-search form {
    display: flex;
    justify-content: space-between;
}

.blog-search-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.sort-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.blog-search-filter select {
    width: 75%;
}

.blog-search-input {
    position: relative;
    width: 48%;
}

.blog-search-input button {
    border: 0;
    background: none;
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.blog-listing-container .container {
    max-width: 872px;
}

.blog-post__item {
    margin-bottom: 100px;
}

.blog-post__date {
    border-bottom: 1px solid #e2e2e2;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 35px;
}

.blog-post__date span {
    background-color: #2f2f2f;
    display: block;
    height: 30px;
    letter-spacing: 1.40px;
    line-height: 1.875em;
    padding-left: 10px;
    width: 150px;
}


.blog-post__title {
    margin-bottom: 30px;
    padding: 0;
}


h1.blog-post__title {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1em;
}

.blog-post__title a {
     color: #2f2f2f;
}

.blog-post__title a:hover {
    color: #A32C1C
}

.blog-post__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.blog-post__excerpt {
    font-size: 18px;
    line-height: 1.75em;
    margin-bottom: 10px;
}

.input-blog-search {
    margin-top: 30px;
}

@media (min-width:768px) {
    .blog-post__excerpt {
        flex: 1 0 0;
        margin-bottom: 0;
        margin-right: 20px;
    }
    
    .blog-post__content .blog-post__img-container {
        flex: 0 0 1;
    }
}

.post-item {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
}

.post-item:first-of-type {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.post-item__heading a {
    text-decoration: none;
}

.post-item .btn,
.post-item .btn-primary {
    margin-top: 30px;
}

.post-item__meta {
    font-size: .8em;
}


@media (min-width: 1025px) {

    .post-item {
        padding-top: 50px;
        margin-top: 50px;
    }

}

.single-page,
.post-listing-container {
    padding-top: 60px;
}

@media (min-width:768px) {
    .single-page,
    .post-listing-container {
        padding-top: 85px;
    }
}

.post-thumbnail img {
    margin-bottom: 15px;
    width: 100%;
}


/**
 * Sidebar
 */

/* Blog Sidebar */

.blog .page-sidebar .widget {
	margin-bottom: 50px;
}



/**
* FX Load More
*/

/* Load More Progress Bar */
.load-more__progress {
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    border: 0;
    border-radius: 0;
    min-width: 250px;
}
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    height: 10px;
    border: 0;
    border-radius: 0; 
}
progress::-webkit-progress-bar {
    background-color: #ddd;
}
progress::-webkit-progress-value {
    background-color: #4a4a4a; 
}

/* Loading Indicator */
.is-loading:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: #E3E3E3 #E3E3E3 transparent;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: simpleSpin 1.5s linear infinite;
    animation: simpleSpin 1.5s linear infinite;
}

/* Load More Button */
.load-more {
    text-align: center;
}

.load-more__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-transform: capitalize;
}

.load-more__btn.is-loading {
    position: relative;
    opacity: 0.6;
    cursor: not-allowed;
}

.load-more__btn.is-loading:before {
    width: 20px;
    height: 20px;
}

/* Placeholder Space */
.placeholder-block {
    position: relative;
    display: flex;
}

.placeholder-block__inner {
    flex-grow: 1;
    background-color: #fafafa;
}

.placeholder-block.is-loading:before {
    width: 50px;
    height: 50px;
}

@-webkit-keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}


/* Search Results */
.search-result {
    text-decoration: none;
}

.search-result__title {
    margin-bottom: -20px;
}

.search-result__excerpt {
    margin-bottom: 20px;
}

.search-result__img-container {
    float: left;
    margin: 0px 20px 0px 0px;
}

span.btn.btn--primary.search-result__link {
    margin-top: -50px;
    margin-bottom: 50px;
}

.page-sidebar .wp-block-search .wp-block-search__button {
    background: none;
    border: 0;
    font-size: 22px;
    margin: 0;
    transform: scaleX(-1);
}

.page-sidebar .widget_search {
    margin-bottom: 15px;
}

.page-sidebar ul li {
    margin-bottom: 0;
    padding-left: 20px;
}

.page-sidebar ul li:before {
    top: 9px;
}