.fxa-accordion {
    position: relative;
    margin-bottom: 40px;
}
.fxa-accordion__panels {
    border-bottom: 1px solid #E2E2E2;
}
.fxa-accordion__panels,
.fx-acc-title {
    padding: 0 22px;
}

.fxa-accordion__panel__toggle {
    position: relative;
    list-style-type: none !important;
    margin: 20px 0 0;
    display: block;
    color: inherit;
    line-height: normal;
    background: #fff;
    padding: 20px 35px 0px 0;
    text-decoration: none;
    border-top: 1px solid #E2E2E2;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
}


.fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle,
.fxa-accordion__panel__toggle:hover,
.fxa-accordion__panel__toggle:focus {
    color: #A32C1C;
    background: #fff;
    text-decoration: none;
}

.fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle {
    border-bottom: 1px solid #fff;
}

.fxa-accordion__panel .fxa-accordion__panel__toggle:after {
    content: '+';
    position: absolute;
    top: 7px;
    right: 0;
    color: #ADADAD;
    font-size: 30px;
    font-weight: normal;
}

.fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle:after {
    content: '-';
    color: #A32C1C;
    top: 0;
    font-size: 43px;
}

.fxa-accordion__panel:not(.is-expanded) .fxa-accordion__panel__content {
    display: none;
}

.fxa-accordion__panel__content {
    padding: 20px 0 0 0;
    border-top: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .fxa-accordion {
        margin-bottom: 80px;
    }
    
    .fxa-accordion__panels,
    .fx-acc-title {
        padding: 0 40px;
    }
}

@media (min-width: 1025px) {
    .fxa-accordion {
        margin-bottom: 80px;
    }
    
    .fxa-accordion__panels,
    .fx-acc-title {
        padding: 0;
    }

    .fxa-accordion__panel__toggle {
        font-size: 18px;
    }
}


@media (min-width: 1200px) {

    .fxa-accordion__panel__toggle {
        padding: 30px 36px;
        padding-right: 70px;
        margin-top: 0;
    }

    .fxa-accordion__panel__content {
        padding-left: 36px;
        padding-right: 36px;
        padding-top: 0;
        padding-bottom: 30px;
    }

    .fxa-accordion__panel .fxa-accordion__panel__toggle::after {
        top: 22px;
        right: 30px;
    }

    .fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle:after {
        top: 11px;
    }
}