/*------------------------------------*\
    
    Sharingbuttons.io - Social Media Sharing Buttons
    https://sharingbuttons.io/

    To make style customizations, use this tool https://sharingbuttons.io/, which will generate CSS for you
    Any styling that cannot be done with https://sharingbuttons.io/ should be added to the bottom of this file

\*------------------------------------*/


/* CSS Generated from https://sharingbuttons.io/ */

.social-share-row {
    margin: 0;
    padding: 0 !important;
    /* get rid of default <ul> padding */
    list-style: none !important;
    /* get rid of list bullets */
}

.social-share-row__item {
    display: inline-block;
    padding-left: 0;
}

.social-share-row__item:before {
    content: none;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    /* margin: 0.5em */
}

/* .social-share-row__item:first-child .resp-sharing-button__link {
    margin-left: 0;
} */

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--email {
    background-color: #777;
    border-color: #777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
    background-color: #e60023;
    border-color: #e60023;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
    background-color: #ad081b;
    border-color: #ad081b;
}


/* WebFX Customizations */
/* Add CSS below if you can not make the necessary change with the https://sharingbuttons.io/ tool */