.cta-bar {
	position: relative;
	padding-top: 49px;
	padding-bottom: 142px;
	color: #2F2F2F;
	text-align: center;
	background-color: #F2F2F2;
}

.cta-bar__bg:after {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(242,242,242,.25) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,.1) 0%, rgba(242,242,242,.25) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(242,242,242,.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cta-bar__bg {
	position: absolute;
	bottom: 0;
    left: 0;
    width: 100%;
    height: 142px;
}

.cta-bar__bg img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
	   width: 100%;
    height: 100%;
}

.cta-bar__content {
	position: relative;
	z-index: 2;
}

.cta-bar__content p {
	padding-top: 12px;
	padding-bottom: 0;
}


@media (min-width: 768px) {
	.cta-bar {
		padding-top: 65px;
		padding-bottom: 165px;
	}

	.cta-bar__bg {
		height: 165px;
	}

	.cta-bar__content p {
		padding-top: 12px;
		display: inline-block;
		padding-left: 15px;
	}
}


@media (min-width: 1200px) {
	.cta-bar {
		padding-top: 60px;
		padding-bottom: 65px;
	}

	.cta-bar__bg {
		height: 100%;
		width: 927px;
		left: auto;
		right: 0;
	}

	.cta-bar {
		text-align: left;
	}

	.cta-bar__bg:after {
		background: -moz-linear-gradient(left,  rgba(242,242,242,1) 0%, rgba(242,242,242,.25) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(242,242,242,1) 0%, rgba(242,242,242,.25) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(242,242,242,1) 0%,rgba(242,242,242,.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

}

