.wysiwyg {
    padding: 55px 0;
    color:#2A292A;
}

.wysiwyg.white {
	background: #fff;
}

.wysiwyg.gray {
	background: #F2F2F2;
}

@media (min-width: 768px) {
    .wysiwyg {
        padding: 87px 0;
    }
}

@media (min-width: 1200px) {
    .wysiwyg {
        padding: 100px 0;
    }
}