.faq__item:not(.is-expanded) .faq__item__answer {
	display: none;
}

.faq {
	background-color: var(--bg-blue);
	text-align: center;
	padding-top: var(--section-margins);
	padding-bottom: var(--section-margins);
}

.faq__item {
	background-color: #fff;
	box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.09);
	padding: 4px 4px 4px 18px;
	border-radius: 4px;
	text-align: left;
	margin-bottom: 12px;
	cursor: pointer;
}

.faq__item__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 900;
	color: var(--heading-text-color);
	font-size: 17px;
}

.faq__subtitle {
	margin-top: 0;
	margin-bottom: 14px;
}

.faq__title {
	margin-top: 14px;
	margin-bottom: 20px;
}

.faq__item__answer {
	width: 100%;
}

.faq__item__btn {
	border: 0;
	background: transparent;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-self: center;
	width: 44px;
	padding: 14px;
}

.faq__item.is-expanded .icon--expand:before {
	content: "\e90f";
}

.icon--collapse .icon-plus.icon--expand:before {
	content: "\e90f";
}

.faq__item__answer p {
	font-size: 15px;
}

.faq__item__answer p:first-child {
	margin-top: 10px;
}

.faq__item__answer p:last-child {
	margin-bottom: 9px;
}

@media (min-width: 768px) {
	.faq__item {
		padding: 20px 20px 20px 32px;
		margin-bottom: 20px;
	}

	.faq__item__heading {
		font-size: 20px;
	}

	.faq__item__answer p {
		font-size: 16px;
	}

	.faq__title {
		margin-bottom: 36px;
	}
}

@media (min-width: 1025px) {
}