.contact-section form {
    background-color: #f2f2f2;
    padding-bottom: 55px;
}

.contact-section form .wpcf7-response-output {
    margin: 0 auto;
    max-width: 916px;
}

.contact-top {
    margin-top: 55px;
}

.contact-content {
    font-weight: 500;
    padding: 55px 22px 0;
    max-width: 916px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.contact-form {
    background-color: #f2f2f2;
}

.contact-form .form-disclaimer {
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Lexend',sans-serif;
    letter-spacing: 0;
}

.contact-team-img {
    margin: 32px auto;
    position: relative;
    height: 250px;
    width: 193px;
}

.contact-team-img img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: "object-fit: cover;";
}

.contact-team-img span {
    display: block;
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 10px;
    width: 100%;
}

.contact-team-img span::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 10px;
    width: 20px;
    height: 1px;
    background-color: #fff;
}

.contact-team {
    padding: 0 22px;
    max-width: 690px;
    margin: 0 auto
}

.contact-form .radio-content .wpcf7-radio .wpcf7-list-item {
    margin: 0 15px 0 0;
}

.contact-form .radio-content .wpcf7-list-item-label {
    font-size: 17px;
    color: #2f2f2f;
    line-height: 1.4em;
    margin: 0;
    padding: 0 0 8px 0;
    font-weight: 700;
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.contact-form .input-file .jobsite-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    margin-right: 0;
}

.wpcf7 form.invalid .wpcf7-response-output {
    border-color:#B94A3B;
    color: #B94A3B;
}

input[type="checkbox"], input[type="radio"] {
    height: 26px;
    width: 26px;
    background-color: #fff;
    border-radius: 50%;
    border: 7px solid #C6C6C6;
    position: absolute;
}

.wpcf7 input[type="file"] {
    cursor: pointer;
    text-transform: uppercase !important;
    letter-spacing: 1.8px;
    width: 100%;
}

.wpcf7-list-item-label {
    color: #2F2F2F;
}

input[type=file]::file-selector-button {
  background-color: #E6E6E6;
  color: #2F2F2F;
  border:none;
  text-transform: uppercase !important;
  letter-spacing: 1.8px;
  font-size: 16px;
  font-weight: 600;
}

input[type=file]::file-selector-button:hover {
  cursor: pointer;
}

span.wpcf7-form-control-wrap.your-file {
    background-color: #E6E6E6;
    color: #2F2F2F;
    border: 0;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    line-height: 1.2em;
    padding: 18px 22px;
    border-radius: 50px;
}

input[type=checkbox]:checked {
  /*CSS after CHECKED*/
  color: #ffd369;
}

.wpcf7-radio .wpcf7-list-item-label {
    margin-left: 35px;
}

@media (min-width: 768px) {

    .contact-top {
        margin: 55px 0 0;
        position: relative;
    }

    .contact-content {
        position: relative;
    }

    .contact-team-img {
        margin-bottom: 0;
        width: 100%;
    }
}

@media (min-width: 768px) {

    .contact-top {
        margin-top: 100px;
    }

    .contact-section form {
        padding-bottom: 100px;
    }

    .contact-top .contact-content {
        padding-top: 100px;
    }

    span.wpcf7-form-control-wrap.your-file {
        display: inline-block;
    }
}

@media (min-width: 1025px) {
    .contact-form .form-disclaimer {
        display: inline-block;
        margin-left: 20px;
    }

    .contact-top {
        background-color: #f2f2f2;
    }

    .contact-top .contact-content {
        padding-top: 88px;
    }
}
