.no-padding-container {
    padding-left: 0;
    padding-right: 0;
}

.full-width-image-text-box-overlay {
    position: relative;
    margin-top: 43px;
    margin-bottom: 60px;
}

.full-width-image-text-img {
    position: relative;
    height: 127px;
}

.full-width-image-text-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.full-width-image-text-box-pattern {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
}

.full-width-image-text-box-pattern img {
    width: auto;
    float: right;
}

.full-width-image-text-content {
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    padding: 40px 22px 30px 22px;
    margin-top: -27px;
}

.full-width-image-text-content p {
    padding-bottom: 40px;
}

@media (min-width: 768px) {

    
    .full-width-image-text-box-overlay {
        margin-top: 20px;
        margin-bottom: 76px;
    }

    .full-width-image-text-img {
        height: 245px;
    }
    .full-width-image-text-content {
        padding: 67px 50px;
        margin-top: -55px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 1200px) {

    .no-padding-container {
        padding-left: 22px;
        padding-right: 22px;
    }

    .full-width-image-text-box-overlay {
        margin-top: 32px;
        margin-bottom: 85px;
    }

    .full-width-image-text-img {
        height: 100%;
        position: absolute;
    }
    .full-width-image-text-content {
        padding: 60px 48px;
        margin-top: 104px;
        margin-bottom: 104px;
        margin-left: 0;
        margin-right: 0;
    }
}