.half-and-half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.half-and-half-image,
.half-and-half-text {
    position: relative;
    flex: 0 0 100%;
}

.half-and-half-image img {
    height: 100%;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: "object-fit: cover;";
}

.half-and-half-text {
    padding-top: 40px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 0;
}

.half-and-half-text.left,
.half-and-half-image.left  {
    margin-left: inherit;
}



.half-and-half-image.right {
    
    position: absolute;
    width: 50%;
    height: 100%;
    max-height: 500px;
    right: -100px;
}



@media (min-width: 768px) {
    .half-and-half-text {
        padding-top: 50px;
        padding-left: 85px;
        padding-right: 85px;
    }
    .half-and-half-text.right {
        margin-left: 1% !important;
        max-width: 600px;
    }
}

@media only screen and (min-width: 1600px) {
    .half-and-half-image,
    .half-and-half-text {
      position: relative;
      flex: 0 0 50%;
    }
  
    .half-and-half-image img {
      position: absolute;
    }

    
    .half-and-half-image img {
        width: calc( 100% - 106px);
    }


    .half-and-half-text {
      padding: 34px 10px;
      max-width: 646px;
    }

    .half-and-half-text.right {
        margin-left: 25% !important;
        max-width: 700px;
    }

  }
  

 @media screen and (max-width: 1600px) {
   .half-and-half-text.right {
        margin-left: 26% !important;
        max-width: 700px;
    }
 } 

/*
@media only screen and (max-width: 1400px) {
   .half-and-half-text.right {
        margin-left: 20% !important;
        max-width: 700px;
    }
 } */

@media screen and (max-width: 1300px) {
 .half-and-half-text.right {
        margin-left: 1% !important;
        max-width: 600px;
    }
    .half-and-half-image.right {
        right: -80px;
    }

     .half-and-half-image,
    .half-and-half-text {
      position: relative;
      flex: 0 0 50%;
    }
  
    .half-and-half-image img {
      position: absolute;
    }

    
    .half-and-half-image img {
        width: calc( 100% - 106px);
    }


    .half-and-half-text {
      padding: 34px 10px;
      max-width: 646px;
    }
}

  
@media only screen and (min-width: 1310px) {
  /*.half-and-half-text.right {
        margin-left: 20% !important;
        max-width: 600px;
    }*/

    .half-and-half-image.right {
        right: -80px;
    }

     .half-and-half-image,
    .half-and-half-text {
      position: relative;
      flex: 0 0 50%;
    }
  
    .half-and-half-image img {
      position: absolute;
    }

    
    .half-and-half-image img {
        width: calc( 100% - 106px);
    }


    .half-and-half-text {
      padding: 34px 10px;
      max-width: 646px;
    }
}

@media only screen and (max-width: 800px) {
  .half-and-half-text.right {
        margin-left: 1%;
        max-width: 600px;
    }
}

@media only screen and (min-width:240px) and (max-width: 768px){

    .half-and-half-image.right {
        position: relative;
        width: 100%;
        height: auto;
        flex: 0 0 100%;
        right: 0px;
    }

}