.rental-quote-section {
    position: relative;
    padding-top: 60px;
}

.rental-sidebar-top {
    background-color: #F2F2F2;
    padding: 18px 14px;
}

.rental-sidebar-top h4 {
    padding-bottom: 0;
    letter-spacing: 0.02em;
    text-transform: none;
}

.rental-quote-bttn .btn + .btn {
    margin-left: 0;
    margin-top: 15px;
}

.rental-sidebar-item {
    display: flex;
    padding: 40px 0 26px 0;
    border-bottom: 1px solid #E2E2E2;
    align-items: center;
}

.rental-sidebar-img {
    width: 79px;
}

.rental-sidebar-img img {
    width: 100%;
    display: block;
}

.rental-sidebar-text {
    width: calc(100% - 79px);
    padding-left: 20px;
    position: relative;
}

.rental-sidebar-text p {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.rental-time {
    display: inline-block;
    font-size: 16px;
    padding: 6px 16px;
    font-weight: 500;
    color: #2F2F2F;
    background-color: #F2F2F2;
}

.rental-count {
    display: inline-block;
    padding-left: 15px;
}

.rental-count p {
    font-size: 16px;
    padding: 0 0;
    font-weight: 500;
    display: inline-block;
}

.rental-count input {
    width: 50px;
    padding: 0;
    height: 32px;
    text-align: center;
}

.equipment-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: -12px;
}

.rental-quote-text {
    padding-top: 22px;
}

.rental-quote-form {
    padding-top: 10px;
}

.rental-quote-form .radio-container {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .rental-quote-section {
        padding-top: 85px;
    }

    .rental-sidebar {
        border: 5px solid #F2F2F2;
    }

    .rental-sidebar-top {
        padding: 10px 18px 15px 18px;
    }

    .rental-sidebar-top h4 {
        float: left;
        padding-top: 14px;
    }

    .rental-quote-bttn {
        float: right;
    }

    .rental-quote-bttn .btn + .btn {
        margin-left: 12px;
        margin-top: 0;
    }

    .rental-sidebar-content {
        padding: 0 18px;
    }

    .rental-sidebar-img {
        width: 110px;
    }

    .rental-sidebar-text {
        width: calc(100% - 110px);
        padding-left: 20px;
        position: relative;
    }

    .rental-sidebar-text p {
        padding: 0 0 9px 0;
    }

    .equipment-close {
        top: 5px;
    }

    .rental-quote-text {
        padding: 63px 60px 0 60px;
    }

    .rental-count p {
        padding-right: 10px;
    }
    
}


@media (min-width: 1200px) {

    .rental-quote-text {
        padding: 0;
    }

    .rental-sidebar-top h4 {
        padding-top: 0;
    }

    .rental-sidebar-top {
        padding: 20px 18px 25px 18px;
    }

    .rental-sidebar {
        max-width: 533px;
        float: right;
        width: 100%;
    }
}