.rental-cart-section {
    position: relative;
    padding-top: 60px;
}

.rental-item {
    padding: 40px 0 26px 0;
    border-bottom: 1px solid #E2E2E2;
    align-items: center;
}

.rental-img {
    width: 194px;
    height: 143px;
    background-position:right;
    background-repeat: no-repeat;
}

img.rental-img {
	position: absolute;
	z-index: -1;
}

.rental-img img {
    width: 100%;
    height: 100%;
    max-height: 143px;
    display: block;

}

.rental-text {
    position: relative;
}

.rental-details h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 18px 0 25px 0;
}


.rental-details p {
    font-size: 15px;
    display: block;
    font-weight: 500;
}


.rental-details p span {
    font-size: 15px;
    display: block;
    font-weight: 500;
}

.rental-time {
    display: inline-block;
    font-size: 16px;
    padding: 6px 16px;
    font-weight: 500;
    color: #2F2F2F;
    background-color: #F2F2F2;
    margin-bottom: 25px;
}

.rental-count {
    display: inline-block;
    padding-left: 0;
}

.rental-item-bttn {
    display: inline-block;
    padding-left: 32px;
}

.rental-count p {
    font-size: 16px;
    padding: 0 0;
    font-weight: 500;
    display: inline-block;
}

.rental-count input {
    width: 50px;
    padding: 0;
    height: 32px;
    text-align: center;
}

.equipment-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: -12px;
}

.rental-quote-text {
    padding-top: 22px;
}

.rental-quote-form {
    padding-top: 10px;
}

.rental-quote-form .radio-container {
    margin-bottom: 0;
}

.loading-area {
    text-align: center;
    margin-top: 30px;
}

.loading-area p {
    padding-bottom: 10px;
}

.loading-bar {
    position: relative;
    max-width: 340px;
    margin: 0 auto 15px;
    height: 5px;
    background: #C6C6C6;
}

.loading-bar-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background: #2F2F2F;
}

.rental-content__text {
    padding-top: 30px;
}

.rental-title svg {
    margin-left: 20px;
    vertical-align: middle;
}

.rental-title h3 {
    padding-top: 25px;
}


.rental-title {
    padding-bottom: 15px;
}

.rental-search-btn{
    padding-top: 25px;
}

.rental-search-btn .btn {
    border-radius: 50px;
    display: block;
    text-align: center;
    text-transform: none;
    background-color: #F2F2F2;
    color: #606060;
    font-weight: 500;
}

.rental-search-btn .btn svg {
    vertical-align: middle;
    padding-bottom: 3px;
}

.rental-search {
    position: relative;
}

.rental-search button {
    background: none;
    border: none;
    font-size: 22px;
    color: #2F2F2F;
    position: absolute;
    right: 10px;
    top: 13px;
}

.additems {
    width: 20px;
    height:20px;
    float: right;
    background: #A32C1C;
    border: none;
    color: transparent;
    text-align: center;
    text-shadow: 0 0 0 #fff;
    cursor: none;
    font-size: 12px;
    padding: 0px;
    border-radius: 100px;
    margin:-33px 7px;
    z-index: 1;
    position: relative;
}


.rental-qty.clearfix {
        margin-top: 0px;
}


.icon-check {
    display: none;
}


.btn.btn-primary.add-rental:hover .icon-check {
    display: block;
    float: left;
    color: #BBBBBB;
    margin-right: 10px;
}

.btn.btn-primary.add-rental:hover {
    background: #F2F2F2;
    color:#6E6E6E;
}

@media (min-width: 768px) {

    .rental-title h3 {
        float: left;
        padding-top: 0;
    }

    .rental-title .btn {
        float: right;
    }

    .rental-search {
        width: calc(100% - 39%);
        float: left;
        padding-right: 32px;
    }

    .rental-search button {
        right: 45px;
    }

    .rental-search-btn {
        width: 39%;
        float: right;
        padding-top: 0;
    }

    .rental-search-btn .btn {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    
    .rental-cart-section {
        padding-top: 85px;
    }

    .rental-content{
        padding-top: 20px;
    }
    
    .rental-item {
        display: flex;
    }

    .rental-img {
        width: 194px;
    }
    
    .rental-text {
        padding-left: 30px;
        width: calc(100% - 194px);
    }

    .rental-bottom {
        display: inline-block
    }

    .rental-time {
        margin-bottom: 0;
    }

    .rental-details p {
        padding: 0px 0 15px 0;
    }

    .rental-bottom {
        padding-left: 30px;
    }

    .rental-item-bttn .btn {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rental-content__text {
        padding-top: 70px;
    }
    
    .loading-area {
        margin-top: 60px;
    }
    
    
}


@media only screen and (min-width:240px) and (max-width: 767px){

    .rental-qty.clearfix {
        margin-top: 10px;
    }

    .rental-details h2 {
        padding: 18px 0 15px 0;
    }
}

@media (min-width: 1200px) {
    .rental-details {
        display: inline-block;
        width: 420px;
    }

    .rental-text {
        display: flex;
        align-items: center;
    }
    .rental-details p {
        padding: 0;
    }

    .rental-qty {
        display: inline-block;
        width: calc(100% - 420px);
        text-align: right;
    }

    .rental-bottom {
        padding-left: 30px;
    }

    .rental-item-bttn {
        padding-left: 30px;
    }

    .rental-search {
        width: calc(100% - 317px);
    }

    .rental-search-btn {
        width: 317px;
    }

    .rental-item {
        padding: 50px 0 36px 0;
    }
}
@media (min-width: 1366px) {
    .rental-bottom {
        padding-left: 73px;
    }

    .rental-item-bttn {
        padding-left: 117px;
    }
}

.rental-search-btn .btn:hover,
.rental-search-btn .btn.active {
    background-color: #2F2F2F;
    color: #fff;
}